body {
    color: blue;
}

h1 {
    font-size: larger;
}
.bold {
    font-weight: bolder;
    font-size: larger;
}
#primaryContent {
    float: left;
    width: 66%;
    background-color: darkseagreen;
}